body{
    background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px #98FB98;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}

.BJP{
    font-size: xx-large;
    text-align: center;
    text-emphasis-color: white;
    padding: 10;
    margin: 10;
}


img{

display: inline-block;
position: relative;
width: 500px;
margin-left: 650px;
margin-right: 100px;
}

#b1{
    text-align: center;
    font-size: x-large;
}

.b2{
    font-size: x-large;
    text-align: auto;
    line-height: 1.6;
}